input.gur7_input_file_457 {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}


label.gur7_label_container_457 {
  font-size: 1.25em;
  font-weight: 700;
  color: black;
  background-color: black;
  display: block;
  padding: 1rem;
  width: 100%;
  min-width: 200px;
  max-width: 300px;
  position: relative;
  margin: 1rem;
  border: 0.5px solid #333;
  cursor: pointer;
  
}

label.gur7_label_container_457,
.gur7_input_file_457 + label.gur7_label_container_457:hover {
  background-color: gainsboro;
}

p.gur7_feedback_info {
  margin:0;
  font-weight: 600;
  font-size: .8rem;
  /* text-wrap:; */
}

span.gur7_cross {
  position: absolute;
  top: 1%;
  right: 2%;
}
