.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}


label {
  font-size: 1.25em;
  font-weight: 700;
  color: black;
  background-color: black;
  display: block;
  padding: 1rem;
  width: 100%;
  min-width: 200px;
  max-width: 300px;
  position: relative;
  margin: 1rem;
  border: 0.5px solid #333;
  
}

label,
.inputfile + label:hover {
  background-color: gainsboro;
}


label {
	cursor: pointer; /* "hand" cursor */
}


label {
	/* outline: 1px dotted #000; */
	/* outline: -webkit-focus-ring-color auto 5px; */
}

p {
  margin:0;
  font-weight: 600;
  font-size: .8rem;
  /* text-wrap:; */
}

span {
  position: absolute;
  top: 1%;
  right: 2%;
}
